<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>

    <link rel="icon" type="image/png" href="public/images/logo.png">
    <link rel="stylesheet" href='../public/css/alignment.css'>
    <link rel="stylesheet" href="../public/css/update.css">

</head>
<body>
    
    <section class="align align-ver" id="heading">
        <h1>Available Books</h1>
    </section>

    <section class="align align-ver" id="content">

        <div class="align-sec btn-grp">

            <form action="" class="align-sec" method="post">
                <input type="text" id="searchText" name="searchText" placeholder="Search here" required title="">
                <button type="submit">Search</button>
            </form>

        </div>

        <div class="align-def con-container align-ver">

        </div>

    </section>

    <script src="../public/js/update.js"></script>

</body>
</html>